body {
  background-color: #f2f2ed;
}

.App {
  text-align: center;
  min-height: 1000px;
  width: 100%;
}

.Todo-App {
  display: inline-block;
  text-align: left;
  padding-top: 100px;
}


/* Begin Helper Classes ----------------------------------------------- */
.error {
  color: red;
  float: right;
}

.blue-background {
  background-color: rgba(0, 71, 187, 0.12) !important;
  transition: all 0.3s ease-in-out;
}

.text-center {
  text-align: center;
}

.grey {
  color: #808080;
}

.sm-13 {
  font-size: 13px;
}

.sm-17 {
  font-size: 17px;
}
/* End Helper Classes ----------------------------------------------- */



/* App.js ----------------------------------------------- */
h1 {
  padding: 0;
  margin: 0;
}

input {
  font-size: 20px;
  box-shadow: none;
  border: none;
  background-color: #fafafa;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);

  &:focus {
    outline: none;
  }
}

/* Begin Tables styles within App.js ------ */
#tableContainer {
  max-height: 500px;
  overflow-y: auto;
}

table {
  margin-top: 0;
  background-color: #fafafa;
  width: 1024px;
  border-spacing: 0;

  td {
    padding: 10px;
    width: 35px;
    height: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    border-top: 1px solid	#C0C0C0;
  }

  th {
    padding: 10px;
    text-align: left;
    width: 50px;
    height: 16px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.54);
  }

  tr {
    min-width: 1024px;
    height: 48px;
    background-color: #fafafa;

  }

  .todoRow:hover {
    /* Highlight all elements within the todoRow (tr) */
    background-color: #ededed;
    transition: all 0.3s ease-in-out;
    td {
      transition: all 0.3s ease-in-out;
      background-color: #ededed;
    }
    input {
      transition: all 0.3s ease-in-out;
      background-color: #ededed;
    }
  }

  /* Checkbox styles*/
  .regular-checkbox {
  	-webkit-appearance: none;
  	background-color: #fafafa;
  	border: 2px solid grey;
    height: 18px;
    width: 18px;
    border-radius: 2px;

    &:checked {
      background-color: #0047bb !important;
    }
    &:hover {
      cursor: pointer;
    }
  }

  /* Select dropdown styles */
  select {
    background: transparent;
    border: none;

    option {
      color: red;
    }

    &:focus {
      outline: none;
    }
  }

  .description {
    width: 275px;
    /* set styles for pencil icon next to description */
    i {
      cursor: pointer;
      float: right;
      padding-right: 10px;
    }
  }

  /* Shrink title and description inputs for smaller screens */
  @media (max-width: 900px) {
    .title {
      width: 50px;
    }
    .description {
      width: 75px !important;
    }
  }
}
/* End Tables styles within App.js ------ */
/* End App.js ----------------------------------------------- */

/* Start Modal Styles (app.js) ----------------------------------------------- */

#modalTitle {
  width: 40px;
  height: 28px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 1000;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

#titleInput {
  width: 375px;
  height: 40px;
  border-bottom: solid 2px #0047bb;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 25px;
}

#titleCount {
  float: right;
  width: 32px;
  height: 16px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
  padding-top: 8px;
  position: relative;
  right: 25px;
}

#modalBtns {
  float: right;
  margin-top: 60px;

  button {
    width: 54px;
    height: 16px;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #0047bb;
    text-transform: uppercase;
  }
  #closeModal {
    margin-right: 8px;
  }
}
/* End Modal Styles (app.js) ----------------------------------------------- */

/* Begin ActionsHeader.js ----------------------------------------------- */
.tableTitleDiv {
  float: left;
}

.tableActionsDiv {
  float: right;
}

/* selects the more icon */
.tableActionsDiv:nth-child(2) {
  padding-right: 24px;
}

.tableTitle {
  transition: all 0.3s ease-in-out;
  padding-top: 20px;
  padding-left: 24px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 1000;
  font-style: normal;
  font-stretch: normal;
  line-height: 28px;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

/* Styles for add and delete todo buttons*/
.addDelIcon {
  padding-top: 24px;
  padding-right: 18px;
}

.addDelIcon:hover {
  cursor: pointer;
}

.selectedTodo {
  margin: 0;
  background-color: #fafafa;
  width: 1024px;
  height: 64px;
  transition: all 0.3s ease-in-out;

  #selectedTitle {
    transition: all 0.3s ease-in-out;
    padding-top: 20px;
    padding-left: 24px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0047bb;
  }
}


/* End ActionsHeader.js ----------------------------------------------- */

/* Start TodoRowHeader ----------------------------------------------- */
#todoRowHeader {
  height: 56px;
}
/* End TodoRowHeader ----------------------------------------------- */


/* Start TodoRow.js ----------------------------------------------- */
.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
	font-style: normal;
}

/* Input Icons for % and hours */
.input-icon > input {
  padding-left: 25px;
	padding-right: 0;
}

.input-icon-right > i {
  text-align: left;
  right: 0;
}

.input-icon-right > input {
  padding-left: 0;
  padding-right: 5px;
  text-align: right;
}

.timeInput {
  width: 50px;
}

.percentInput {
  width: 50px;
}

#descriptionIcon {
  position: relative;
  top: 3px;
}

/* End TodoRow.js ----------------------------------------------- */


/* Start Footer.js ----------------------------------------------- */
#footer {
  width: 1024px;
  height: 56px;
  background-color: #fafafa;
  border-top: 1px solid #C0C0C0;

  p {
    padding: 0;
    margin: 0;
  }

  span {
    padding-left: 25px;
  }
}

#footerContent {
  float: right;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.54);
  position: relative;
  top: 20px;
}

#footerArrows {
  float: right;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  position: relative;
  top: 15px;
  padding-right: 50px;
}
/* End Footer.js ----------------------------------------------- */
